
<style>
    .navbar {
      overflow: visible;
      background-color: #333;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
    }
    </style>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}" font><p class="text-danger" p style="font-size:15px;"><b>ASSIST</b> SYSTEM</p></a>  
    
    {% if current_user.is_authenticated %}
        <p style="color:green;"><b>Asistal Sistemine Giriş Yaptınız</b>
              
        {% else %}
          <p style="color:red;"><b>Sistemde Değilsiniz</b></p>
        
    
        {% endif %}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

    
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        


        <li class="nav-item">
          <a class="nav-link" href=" {{ url_for('index') }} ">Ana Sayfa</a>
        </li>
        <li class="nav-item">
              <a class="nav-link" href="{{ url_for('new_work_entry') }}"><p style="color:green;">Yeni İş Girişi</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('view_pending_works') }}"><p style="color:navy;">Bekleyen İşlerim</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}"><p style="color:green;">Sisteme Giriş</p></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}"><p style="color:orangered;">Sistemden Çıkış</p></a>
        </li>
          
      </ul>
      
    </div>
  </div>
</nav>